body {
    background-color: #F5F5F5;
}

/* styling for all buttons */
.btn {
    background-color: black;
    color: white;
}
.btn:hover {
    background-color: #A50000;
    color: white;
}

/* login jumbotron */
.jumbotron {
    padding: 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: .3rem;
    border: .5px solid black;
  }
