{% extends 'layout.html' %}
{% block body %}
<div>
    <div
        class="jumbotron"
        style="padding: 2rem 2rem; width: 400px; margin: auto;"
    >
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Success</h4>
            </div>
        </div>
        <form method="POST" action="">
            {% from "includes/_formhelper.html" import render_field %}
            <form method="POST" action="">
                <div class="form-group">
                    {{message}}
                </div>

                <a  class="btn btn-primary mr-2" href= {{link}} role="button">{{buttonText}}</a>
            </form>
        </form>
    </div>
</div>
{% endblock %}
