<!-- Declaration for navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--adds logo-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-img">
            <a href="/">
                <img
                src="{{url_for('static', filename='QPI_Logo.png')}}"
                width="75"
                height="34"
                alt="QPI Logo"
                />
          </a>
        </li>

        <!-- Check to see if the user has access levels 2-->
        {% if user.access == "2" %}
            <!-- Create link for My Shifts page on navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/">My Shifts</a>
            </li>
            
            <!-- Create link for Scheduled shifts page on navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/schedule">Schedule Shifts</a>
            </li>

            <!-- Create link for Swap shifts page on navbar-->
            <li class="nav-item">
                <a class="nav-link "href="/swap">Swap Shifts</a>
            </li> 

            <!-- Create link for Drop shifts page on navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/drop">Drop Shifts</a>
              </li>

            <!-- Check to see if the user is NOT part time-->
            {% if user.part_time_ind == "N" %}
                <!-- Create link for vacation page on navbar-->
                <li class="nav-item">
                    <a class="nav-link" href="/vacation">Request Vacation</a>
                </li>
            {% endif %}
        {% endif %}

        {% if user.access == "2" or user.access == "3" %}
        <!-- Create link for notifications page on navbar-->
        <li class="nav-item">
            <a class="nav-link" href="/notifications">Notifications</a>
          </li>
        {% endif %}

        <!-- check to see if user has access level 3 -->
        {% if user.access == "3" %}
            <!-- Create link for calendar page on navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/calendar">Calendar</a>
            </li>

            <!-- Create link for log page on navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/log">Log</a>
            </li>

            <!-- Create link for messaging page on navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/messaging">Messaging</a>
            </li>

            <!-- Create link for calendar page on navbar-->
            <li class="nav-item">
            <a class="nav-link" href="/searchuser">Search User</a>
            </li>

            <!--Create link for creating users on navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/createuser">Create User</a>
            </li>

            <!--Create link for deleting users on navbar-->
            <li class="nav-item">
                <a class="nav-link" href="/deleteuser">Delete User</a>
            </li>

        {% endif %}
        <!-- close class-->
        </ul>

        <!-- check to see if user exists-->
        {% if user %}
            <!-- Create settings button-->
            <a class="btn btn-outline-secondary mr-2" href="/settings" role="button"
            >Settings</a>

            <!-- Create logout button-->
            <a class="btn btn-outline-secondary mr-2" href="/logout" role="button"
            >Logout</a>
        {% endif %}
    </div>
</nav>