{% extends 'layout.html' %}
{% block body %}
<div>
    <div
        class="jumbotron"
        style="padding: 2rem 2rem; width: 400px; margin: auto;"
    >
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Create New Employee</h4>
                <p class="card-text">
                    Please enter the following information to make an account for a new employee. They will be sent and email with a link to finish signing up.
                </p>
            </div>
        </div>
        <form method="POST" action="">
            {% from "includes/_formhelper.html" import render_field %}
            <form method="POST" action="">
                <div class="form-group">
                    {{render_field(form.firstName, class_="form-control")}}
                    {{render_field(form.lastName, class_="form-control")}}
                    
                    <!-- {{render_field(form.employeeCode, class_="form-control")}} -->

                    <!-- radio buttons for part time-->
                    <!-- <p>Employee Type</p>
                    {% for subfield in form.partTime %}
                    <tr>
                        <td>{{ subfield(required="required")}}</td>
                        <td>{{ subfield.label }}</td>
                        <br>
                    </tr>
                    {% endfor %} -->
                   
                    
                    <!-- {{render_field(form.roleName, class_="form-control")}} -->

                    <!-- radio buttons for user type-->
                    <!-- <p>Access Level</p>
                    {% for subfield in form.userType %}
                        <tr>
                            <td>{{ subfield(required="required")}}</td>
                            <td>{{ subfield.label }}</td>
                            <br>
                        </tr>
                    {% endfor %} -->

                    {{render_field(form.email, class_="form-control")}}
                </div>

                {#SUBMIT BUTTON#}
                <input type="submit" class="btn btn-primary" value="Create Account" />

                <!-- Feedback message-->
                {% for message in get_flashed_messages() %}
                <div class="alert alert-info">
                    {{message}}
                </div>
                {% endfor %}

            </form>
        </form>
    </div>
</div>
{% endblock %}
