{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron" style="height: auto;">

    <h3 class="font-weight-normal text-center">Create User</h3>
    <hr class="mb-4" style="width: 25%; margin: auto;">

    <div class="d-flex justify-content-center">
        <form action="" method="POST" class="col-6" novalidate>
            
            {{ form.hidden_tag() }}
            
            <!-- first name section -->
            <div class="mb-3">
                {{ form.first_name.label }}

                {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.first_name.errors %}
                            <span>{{ errors }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.first_name(class="form-control") }}
                {% endif %}
            </div>
            
            <!-- last name section -->
            <div class="mb-3">
                {{ form.last_name.label }}
                
                {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.last_name.errors %}
                            <span>{{ errors }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.last_name(class="form-control") }}
                {% endif %}
            </div>
            
            <!-- email section -->
            <div class="mb-3">
                {{ form.email.label }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.email.errors %}
                            <span>{{ errors }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            
            <!-- submit button -->
            <div class="text-center d-grid">
                {{ form.submit(class="btn") }}
            </div>

        </form>
    </div>

</div>
{% endblock content %}
