{% extends 'layout.html' %}

{% block content %}
    <div class="mb-3">
        <div class="col">
            <p class="fw-bold fs-2">Home</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 jumbotron shadow">
            <div class="text-start fw-bold fs-5 m-2">
                Week at a Glance
            </div>

            <div class="row m-2">

                <div class="col p-0" style="border: 1px solid rgb(163, 163, 163);">
                    <div class="header">Mon</div>

                    <!-- This is where we will dynamically display monday shifts -->
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">11:30am-2:00pm</div>
                        <div>Job Description</div>
                    </div>
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">2:00pm-4:00pm</div>
                        <div>Job Description</div>
                    </div>
                </div>

                <div class="col p-0" style="border: 1px solid rgb(163, 163, 163);">
                    <div class="header">Tue</div>

                    <!-- This is where we will dynamically display monday shifts -->
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">11:30am-2:00pm</div>
                        <div>Job Description</div>
                    </div>
                </div>

                <div class="col p-0" style="border: 1px solid rgb(163, 163, 163);">
                    <div class="header">Wed</div>

                    <!-- This is where we will dynamically display monday shifts -->
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">11:30am-2:00pm</div>
                        <div>Job Description</div>
                    </div>
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">2:00pm-4:00pm</div>
                        <div>Job Description</div>
                    </div>
                </div>

                <div class="col p-0" style="border: 1px solid rgb(163, 163, 163);">
                    <div class="header">Thu</div>

                    <!-- This is where we will dynamically display monday shifts -->
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">11:30am-2:00pm</div>
                        <div>Job Description</div>
                    </div>
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">2:00pm-4:00pm</div>
                        <div>Job Description</div>
                    </div>
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">5:00pm-8:00pm</div>
                        <div>Job Description</div>
                    </div>
                </div>

                <div class="col p-0" style="border: 1px solid rgb(163, 163, 163);">
                    <div class="header">Fri</div>

                    <!-- This is where we will dynamically display monday shifts -->
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">11:30am-2:00pm</div>
                        <div>Job Description</div>
                    </div>
                    <div class="slot-red m-2 p-1">
                        <div class="">Job Title</div>
                        <div class="fw-bold">6:00pm-10:00pm</div>
                        <div>Job Description</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}