<script>
  //this script checks to see if the user if using a mobile device and redirects them if they are
  if(navigator.userAgent.indexOf('Mobile') !== -1)
  {
    //on mobile so go to mobile
    window.location.href="/mobile"
  }
</script>

{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron" style="padding: 2rem 2rem; width: 400px; margin: auto;">
  <form method="POST" action="">
    {% from "includes/_formhelper.html" import render_field %}
    <form method="POST" action="">

     {#USERNAME INPUT FIELD#}
      <div class="form-group">
        {{render_field(form.email, class_="form-control")}}
      </div>

    {#PASSWORD INPUT FIELD#}
      <div class="form-group">
        {{render_field(form.password, class_="form-control")}}
      </div>

    {#SUBMIT BUTTON#}
      <input type="submit" class="btn btn-primary" value="Submit" />

    {#FORGOT PASSWORD BUTTON#}
      <a  class="btn btn-primary mr-2" href="/forgotpassword" role="button">Forgot Password?</a>

      <!-- Wrong password message-->
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          {{message}}
      </div>
      {% endfor %}

    </form>
  </form>
</div>
{% endblock %}
