{% extends 'layoutHalfLogin.html' %}
{% block body %}
<div>
    <div
        class="jumbotron"
        style="padding: 2rem 2rem; width: 400px; margin: auto;"
    >
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Welcome</h4>
                <p class="card-text">
                    Please verify and fill out the information below. If anything is wrong please contact your manager.
                </p>
            </div>
        </div>
        <form method="POST" action="">
            {% from "includes/_formhelper.html" import render_field %}
            <form method="POST" action="">
                <div class="form-group">
                    <!--Employee name (first and last) not editable -->
                    {{render_field(form.firstName, class_="form-control", readonly="readonly")}}
                    {{render_field(form.lastName, class_="form-control", readonly="readonly")}}

                    <!--Part time (yes or no) not editable-->
                    <!-- {{render_field(form.partTime, class_="form-control", readonly="readonly")}} -->

                    <!-- Job Title/ Roll name not editable-->
                    <!-- {{render_field(form.roleName, class_="form-control", readonly="readonly")}} -->

                    <!--phone number-->
                    {{render_field(form.phonenumber, class_="form-control")}}

                    <!--Email Address not editable-->
                    {{render_field(form.email, class_="form-control", readonly="readonly")}}

                    
                    <!-- <p>Mobile Number?</p> 
                    {% for subfield in form.mobile %}
                        <tr>
                            <td>{{ subfield(required="required")}}</td>
                            <td>{{ subfield.label }}</td>
                            <br>
                        </tr>
                    {% endfor %} -->

                    <!--Address-->
                    {{render_field(form.streetAddress, class_="form-control")}}

                    <!-- {{render_field(form.aptNumber, class_="form-control")}} -->

                    {{render_field(form.city, class_="form-control")}}
                    {{render_field(form.stateCode, class_="form-control")}}
                    {{render_field(form.zipCode, class_="form-control")}}

                    <!--Password-->
                    {{render_field(form.password, class_="form-control")}}
                    {{render_field(form.confirmPassword, class_="form-control")}}

                </div>
                {#SUBMIT BUTTON#}
                <input type="submit" class="btn btn-primary" value="Create Account" />

                <!-- Wrong password message-->
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    {{message}}
                </div>
                {% endfor %}
                
            </form>
        </form>
    </div>
</div>
{% endblock %}
