{% extends 'layout.html' %}

{% block content %}
<div id="row">
	<div id="profile" style="width:40%; float: left" align="center">
		<img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=170667a&w=0&h=kEAA35Eaz8k8A3qAGkuY8OZxpfvn9653gDjQwDHZGPE=" style="border-radius: 50%">
		<p>John Doe</p>
		<p>Forklift Operator</p>
		<p>Employee Since: mm/dd/yyyy</p>
		<p>Next shift: mm/dd hh:mm timezone</p>
		<button disabled>Edit Account</button>
	</div>
	<div id="calendar" style="margin-left: 40%">
		<p  align="center"><b>WEEK AT A GLANCE</b></p>
		<div id="week-glance">
			<!-- preview calendar of each day of week -->
			<div id="column-monday" style="float: left; width: 20%" align="center">
			<p>Monday</p>
				<!-- insert user calendar data here -->
			</div>
			<div id="column-tuesday" style="float: left; width: 20%" align="center">
			<p>Tuesday</p>
				<!-- insert user calendar data here -->
			</div>
			<div id="column-wednesday" style="float: left; width: 20%" align="center">
			<p>Wednesday</p>
				<!-- insert user calendar data here -->
			</div>
			<div id="column-thursday" style="float: left; width: 20%" align="center">
			<p>Thursday</p>
				<!-- insert user calendar data here -->
			</div>
			<div id="column-friday" style="float: left; width: 20%" align="center">
			<p>Friday</p>
				<!-- insert user calendar data here -->
			</div>
		</div>
		<div id="buttons" align="center">
		<button>Request Shift Switch</button>
		<button>Request Shift Drop</button>
		</div>
	</div>
</div>
{% endblock content %}
